.product-card {
  background-color: white;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &__image-container {
    position: relative;
    aspect-ratio: 1/1;
    background-color: #f3f4f6;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  &__image {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__hover-actions {
    position: absolute;
    bottom: 1.25rem;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;

    .product-card:hover & {
      opacity: 1;
    }
  }

  &__action-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  &__action-icon {
    color: #4b5563;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  

  &__description {
    font-size: 0.875rem;
    color: #6b7280;
  }

  &__tags {
    display: flex;
    gap: 0.5rem;
  }

  &__tag {
    font-size: 0.875rem;
    color: #6b7280;
  }

  &__tag-icon {
    color: #6b7280;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__name {
      font-weight: 600;
      font-size: 1.125rem;
    }
    &__stock {
      font-size: 0.875rem;
      color: #6b7280;
    }
    &__category {
      font-size: 0.875rem;
      color: #6b7280;
    }
    &__brand {
      font-size: 0.875rem;
      color: #6b7280;
    }
  }


  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}